*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
local-synth

# Parcel build directories
.cache
.build
.vscode

node_modules/
coverage/
dist/
.vs/
**/.DS_Store
.env
.env.*
*.zip
.idea
/package/
.sonarlints
*~
.metals
*yarn-error.log
